/* =========================
GLOBAL RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    background:
    radial-gradient(circle at top,#182235,#080b12);

    color:white;

    font-family:'Inter',Arial,sans-serif;

    min-height:100vh;
}



/* =========================
CONTAINER
========================= */


.container{

    max-width:1200px;

    margin:auto;

    padding:40px 25px;

}



/* =========================
ANIMATION
========================= */


@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(25px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}


.card,
.dashboard-card,
.goal-card,
.analytics-card,
.progress-card{

    animation:fadeUp .5s ease;

}



/* =========================
NAVBAR
========================= */


.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 50px;


    background:

    rgba(15,23,42,.75);


    backdrop-filter:blur(15px);


    border-bottom:

    1px solid rgba(255,255,255,.1);


    position:sticky;

    top:0;

    z-index:100;

}



.logo{

    font-size:1.8rem;

    font-weight:800;


    background:

    linear-gradient(
    90deg,
    #22c55e,
    #3b82f6
    );


    -webkit-background-clip:text;

    color:transparent;

}



.nav-links{

    display:flex;

    gap:25px;

}



.nav-links a{

    color:#cbd5e1;

    text-decoration:none;

    transition:.3s;

}



.nav-links a:hover{

    color:white;

}




/* =========================
HEADINGS
========================= */


h1{

    font-size:3rem;

    text-align:center;

    margin-bottom:35px;

}


h2{

    margin-bottom:20px;

}





/* =========================
CARDS
========================= */


.card{

    background:

    linear-gradient(
    145deg,
    rgba(30,41,59,.9),
    rgba(15,23,42,.9)
    );


    border-radius:25px;

    padding:30px;

    margin-bottom:30px;


    box-shadow:

    0 20px 50px rgba(0,0,0,.4);


}




/* =========================
BUTTONS
========================= */


button{

    background:

    linear-gradient(
    135deg,
    #22c55e,
    #3b82f6
    );


    border:none;

    padding:14px 25px;

    border-radius:14px;

    color:white;

    cursor:pointer;

    font-weight:600;

    transition:.3s;

}


button:hover{

    transform:translateY(-4px);

}




/* =========================
INPUT
========================= */


input{

    width:100%;

    padding:15px;

    margin-bottom:15px;

    border-radius:14px;

    border:none;

    background:#111827;

    color:white;

}





/* =========================
DASHBOARD
========================= */


.dashboard{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}



.dashboard-card{


    padding:30px;

    border-radius:25px;

    background:#111827;

    text-align:center;

}



.dashboard-card:nth-child(1){

    border-top:5px solid #22c55e;

}



.dashboard-card:nth-child(2){

    border-top:5px solid #ef4444;

}



.dashboard-card:nth-child(3){

    border-top:5px solid #3b82f6;

}



.dashboard-card p{

    font-size:2rem;

    font-weight:800;

}





/* =========================
EXPENSES
========================= */


.expense-item{

    background:#111827;

    padding:20px;

    border-radius:18px;

    margin-top:15px;


    display:flex;

    justify-content:space-between;

    align-items:center;

}



.expense-item:hover{

    transform:scale(1.02);

}



.expense-actions{

    display:flex;

    gap:10px;

}


.edit-btn{

    background:#3b82f6;

}



.delete-btn{

    background:#ef4444;

}





/* =========================
ANALYTICS
========================= */


.analytics-card{


    background:#111827;

    padding:30px;

    border-radius:25px;


    border-top:5px solid #38bdf8;

}





/* =========================
GOALS
========================= */


.goal-card{

    background:

    linear-gradient(
    145deg,
    #172554,
    #111827
    );


    border-radius:30px;

    padding:35px;

}



.goal-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}



.goal-amount{

    color:#22c55e;

    font-size:2rem;

    font-weight:800;

}


.goal-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

}



.goal-box{

    background:#111827;

    padding:20px;

    border-radius:18px;

}


.goal-advice{

    margin-top:30px;

    padding:20px;

    background:#111827;

    border-left:5px solid #22c55e;

    border-radius:18px;

}
/* =========================
BUDGET PAGE
========================= */


.budget-overview{

    margin-bottom:30px;

}



.budget-main-card{


    background:#111827;

    padding:35px;

    border-radius:25px;

    text-align:center;

}



.budget-main-card p{

    font-size:2.2rem;

    font-weight:800;

    color:#22c55e;

}





/* =========================
50/30/20 RULE
========================= */


.rule-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

}



.rule-card{


    background:#111827;

    padding:25px;

    border-radius:20px;

    text-align:center;

}



.rule-card:nth-child(1){

    border-top:5px solid #3b82f6;

}


.rule-card:nth-child(2){

    border-top:5px solid #facc15;

}


.rule-card:nth-child(3){

    border-top:5px solid #a855f7;

}




.rule-card p{

    font-size:1.7rem;

    font-weight:700;

    margin:10px 0;

}





/* =========================
CATEGORY BUDGETS
========================= */


.budget-grid{


    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

}



.budget-card{


    background:#111827;

    padding:25px;

    border-radius:20px;


    transition:.3s;

}



.budget-card:hover{

    transform:translateY(-5px);

}





/* =========================
ALERTS
========================= */


.alert-box{


    background:#111827;

    padding:20px;

    border-radius:15px;

    margin-bottom:15px;


    border-left:5px solid #22c55e;

}





.final-budget-card{


    background:

    linear-gradient(
    135deg,
    #172554,
    #111827
    );


    padding:35px;

    border-radius:25px;

}







/* =========================
BUDGET PROGRESS TRACKER
========================= */


.budget-progress-grid{


    display:grid;


    grid-template-columns:repeat(2,1fr);


    gap:25px;


    margin-top:25px;

}





.progress-card{


    background:


    linear-gradient(
    145deg,
    #111827,
    #1e293b
    );


    padding:25px;


    border-radius:25px;


    border:

    1px solid rgba(255,255,255,.08);


    transition:.3s;

}



.progress-card:hover{


    transform:translateY(-5px);


}






.progress-header{


    display:flex;


    justify-content:space-between;


    align-items:center;


    margin-bottom:18px;


}





.progress-status{


    padding:6px 14px;


    border-radius:20px;


    font-size:.85rem;


    font-weight:600;


}





.progress-bar-container{


    width:100%;


    height:14px;


    background:#020617;


    border-radius:50px;


    overflow:hidden;


}





.progress-fill{


    height:100%;


    border-radius:50px;


    transition:.5s;


}





/* colors */


.progress-fill.green{

    background:

    linear-gradient(
    90deg,
    #22c55e,
    #16a34a
    );

}



.progress-fill.yellow{

    background:

    linear-gradient(
    90deg,
    #facc15,
    #eab308
    );

}



.progress-fill.red{

    background:

    linear-gradient(
    90deg,
    #ef4444,
    #dc2626
    );

}




.status-green{

    color:#22c55e;

}



.status-yellow{

    color:#facc15;

}



.status-red{

    color:#ef4444;

}





.progress-percent{

    font-size:1.4rem;

    font-weight:800;

}





/* =========================
LANDING PAGE
========================= */


.landing-container{


    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}




.hero-title{

    font-size:4rem;

}



.hero-subtitle{

    color:#cbd5e1;

    margin:20px;

}





/* =========================
RESPONSIVE
========================= */


@media(max-width:900px){


    .dashboard,
    .budget-grid,
    .rule-grid,
    .goal-grid,
    .budget-progress-grid{


        grid-template-columns:1fr;


    }



    .navbar{


        flex-direction:column;


        gap:20px;


    }



    .goal-top{


        flex-direction:column;


        gap:20px;


        text-align:center;


    }


}



@media(max-width:600px){


    h1{

        font-size:2.2rem;

    }


    .container{

        padding:20px;

    }


}