<!DOCTYPE html>
<html>

<head>

<title>Goals</title>

<link rel="stylesheet"
href="{{url_for('static',filename='style.css')}}">

</head>


<body>


<nav class="navbar">

<div class="logo">
SmartExpense
</div>


<div class="nav-links">

<a href="/dashboard">Dashboard</a>

<a href="/budget">Budget</a>

<a href="/analytics">Analytics</a>

<a href="/goals">Goals</a>

<a href="/logout">Logout</a>


</div>

</nav>



<div class="container">


<h1>Savings Goals</h1>



<div class="card">


<h2>Create Goal</h2>


<form action="/goal" method="POST">


<input 
name="goal_name"
placeholder="Example: Buy Laptop"
required>


<input
type="number"
name="goal_amount"
placeholder="Amount"
required>


<button>
Save Goal
</button>


</form>


</div>





{% if goal_name %}



<div class="goal-card">



<h2>
🎯 {{goal_name}}
</h2>



<h3>
Target:
₹{{goal_amount}}
</h3>




<div class="goal-grid">



<div class="goal-box">

<h3>
Current Savings
</h3>

<p>
₹{{remaining_balance}}
</p>

</div>




<div class="goal-box">

<h3>
Time Needed
</h3>

<p>

{% if months_needed %}

{{months_needed|round(1)}} months

{% else %}

Not enough data

{% endif %}

</p>

</div>





<div class="goal-box">


<h3>
Monthly Saving Ability
</h3>


<p>
₹{{remaining_balance}}
</p>


</div>



</div>





<div class="goal-advice">


{% if months_needed and months_needed < 6 %}

🚀 Amazing! Your goal is achievable quickly.


{% elif months_needed and months_needed < 12 %}

🔥 Stay consistent, you are on track.


{% else %}

💡 Increase savings to reach faster.


{% endif %}


</div>



</div>



{% endif %}



</div>


</body>

</html>