<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Smart Expense Tracker</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="landing-container">

        <div class="overlay"></div>

        <div class="hero-section">

            <h1 class="hero-title">

                Smart Expense Tracker

            </h1>

            <p class="hero-subtitle">

                Track smarter.
                Save better.
                Build your future.

            </p>

            <a href="/dashboard">

                <button class="hero-btn">

                    Enter Dashboard

                </button>

            </a>

        </div>

    </div>

</body>

</html>